
.container{
  position: relative;
  min-height: 100vh;
}

//Header

.header h1{
  margin-top: 50px;
  font-size: 52px;
  text-align: center;
  span{
    color: var(--mainColor);
  }
}
//Claim Pi
.claimPiBoxContainer{
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}
h2{
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.claimPiBox, input{
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  outline: none;
  font-size: 22px;
  resize: none;
  &::placeholder{
    font-size: 22px;
  }
}
input{
  border-radius: 5px;
}
.claimBtn{
  border: 1px solid var(--mainColor);
  background: none;
  color: var(--mainColor);
  outline: none;
  width: 60%;
  margin: 0 auto;
  height: 70px;
  letter-spacing: 1px;
}
.createWallet p {
  width: 60%;
  text-align: center;
  margin: 0 auto 45px auto;
  line-height: 30px;

}

.error{
  color: #f44444;
  text-align: center;
  font-size: 20px;
}
.loading{
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

//Congratulation
.congratulation{
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  img{
    max-width: 60%;
    margin: 0 auto;
  }
  h1{
    text-align: center;
    color: var(--mainColor);
  }
}

//footer

.footer{

  width: 100%;
  padding: 15px 0 15px 15px;
  box-sizing: border-box;
  background-color: #ccc;
  h4{
    padding: 10px 0;
  }
  .copyright{
    padding-top: 15px;
    text-align: center;
  }
}

@media screen and (min-width: 756px) {
  .claimPiBox, input{
    width: 70%;
  }
  .claimBtn{
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .claimPiBox, input{
    width: 50%;
  }
  .claimBtn{
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .createWallet p {
    width: 80%;
    text-align: center;
    margin: 0 auto 45px auto;
    line-height: 30px;

  }
}